<%- include('../partials/header') %>

<div class="container send-otp">
  <div class="container-fluid send-otp-header">
    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
    <h2 style="display: inline; text-align: center">Reset Password</h2>
  </div>
  <form
    action="http://localhost:3000/api/users/reset-password?_method=PUT"
    method="post"
    id="reset-password"
  >
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        value="<%= email %> "
      />

      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="Enter New Password"
      />
      <label for="cpassword">Confirm Password</label>
      <input
        type="password"
        name="cpassword"
        class="form-control"
        id="cpassword"
        placeholder="*********"
      />
    </div>
    <button type="submit" class="btn btn-danger">Reset</button>
  </form>
</div>

<%- include('../partials/footer') %>
